<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="v1no.dao.UserMapper">
    <resultMap id="UserResultMap" type="v1no.pojo.User">
        <result column="subname" property="subName"></result>
        <result column="regdate" property="regDate"></result>
    </resultMap>

    <select id="selectByUsername" resultType="v1no.pojo.User">
        select * from users where username = #{username}
    </select>

    <select id="selectByUid" resultType="v1no.pojo.User">
        select * from users where uid = #{uid}
    </select>

    <insert id="add">
        insert into users (username, subname, gender, password, telephone, regdate)
        values (#{username},#{username}, #{gender}, #{password}, #{telephone}, curdate())
    </insert>

    <update id="update">
        update users
        set subname = #{subName},
            password = #{password},
            gender = #{gender},
            age = #{age},
            telephone = #{telephone},
            description = #{description},
            status = #{status}
        where uid = #{uid}
    </update>

    <delete id="deleteByUid">
        delete from users
        where uid = #{uid}
    </delete>
</mapper>