<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="v1no.dao.ReplyMapper">
    <resultMap id="ReplyResultMap" type="v1no.pojo.Reply">
        <result column="pre_rid" property="preRid"></result>
        <result column="like_num" property="likeNum"></result>
    </resultMap>

    <insert id="insert">
        insert into replies(uid, username, pid, cid, pre_rid, time, content)
        values (#{uid}, #{username}, #{pid}, #{cid}, #{preRid}, current_timestamp(), #{content})
    </insert>

    <delete id="deleteByRid">
        delete from replies where rid = #{rid}
    </delete>

    <select id="selectTopN" resultMap="ReplyResultMap">
        select * from replies
            limit #{num}
    </select>

    <select id="selectByRid" resultMap="ReplyResultMap">
        select * from replies
        where rid = #{rid}
    </select>

    <select id="selectByUid" resultMap="ReplyResultMap">
        select * from replies
        where uid = #{uid}
    </select>

<!--这里需要修改，像下面这样查找不能盖楼-->
<!--    <select id="selectByPre" resultMap="ReplyResultMap">-->
<!--        select * from replies-->
<!--        where pid = #{pid} and cid = #{cid} and pre_rid = #{rid}-->
<!--    </select>-->
    <select id="selectByPre" resultMap="ReplyResultMap">
        select * from replies
        where pid = #{pid} and cid = #{cid}
    </select>
</mapper>